html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0px;
  font-family: "Cormorant Garamond", serif;
}

#nav-bar {
  position: fixed;
  top: 0;
  background-color: #fa2806;
  box-shadow: 0px 1px 10px rgb(68, 68, 68);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  min-width: 100%;
  height: 90px;
}

.brand-logo-figure {
  width: 70px;
  height: 60px;
  margin-left: 2.5em;
  margin-top: 0.3em;
}

#nav-bar img {
  max-width: 100%;
  height: auto;
}

.menu ul {
  display: flex;
  list-style: none;
  margin-right: 2em;
}

.menu ul li {
  padding: 0 1.5em;
}

.menu ul li a {
  text-decoration: none;
  color: #f4f6ef;
  font-size: 1.1em;
  font-family: "Segoe UI";
}

#home {
  background-color: #f4f6ef;
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
}

.home-container {
  margin: 0 auto;
  padding-top: 18%;
  max-width: 700px;
  height: auto;
}

.wrapper-face {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: absolute;
  left: 30%;
}

.message-face-group {
  position: relative;
  font-family: "Comfortaa", cursive;
}

#changing-message-aside {
  width: 300px;
}

.changing-message-letter {
  height: 360px;
  position: absolute;
  left: 50%;
  margin: 0 auto;
  z-index: 1;
}

.face {
  width: 300px;
  position: relative;
  left: 0;
  z-index: 2;
  margin-top: 5%;
}

#face-happy,
#face-sad {
  max-width: 300px;
}

.face :hover {
  cursor: not-allowed;
}

.bubble {
  max-width: 270px;
  height: 50px;
  background-color: #58b7d6;
  position: relative;
  left: 0;
  border-radius: 15px;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.4em;
}

#talkbubble {
  text-decoration: underline;
  /* font-family: "Comfortaa", cursive; */
  font-size:18px;
  padding-left:15px;
  font-family: "Segoe UI";
}

#about {
  background-color: #58b7d6;
  min-height: 100vh;
  min-width: 100vw;
  padding: 80px 0px;
}

.about-container {
  margin: 0 auto;
}

.intro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 1em;
  position: relative;
  top: 2em;
}

.intro h1 {
  font-weight: 300;
  font-size: 1.2em;
  opacity: 0.7;
  width: 65%;
  text-align: center;
}

.intro p {
  letter-spacing: 0.11em;
  width: 65%;
  line-height: 1.2em;
  opacity: 0.7;
  font-family: "Comfortaa", cursive;
  font-size: 0.8em;
  word-spacing: 0.1em;
}

.carousel {
  position: relative;
  top: 2.5em;
  margin: 0 auto;
}

.carousel-wrapper {
  height: 50vh;
  max-width: 65%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  left: 0;
}

.carousel-track-list {
  margin: 0 auto;
  list-style: none;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.carousel-figure {
  position: relative;
  top: 0;
  margin: 0 auto;
  /* Tinting */
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.carousel-image {
  max-width: 100%;
  min-height: 50vh;
  height: auto;
  object-fit: cover;
  opacity: 0.3;
}

figcaption {
  position: absolute;
  padding: 2em 2em;
  top: 0;
  color: #f4f6ef;
  text-align: center;
  margin: 0 auto;
}

figcaption h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  display: inline-block;
  padding: 3em 2em;
  font-weight: 800;
}

.additional {
  font-family: "Comfortaa", cursive;
  font-size: 0.9em;
  line-height: 1.5em;
}

.play-pause-button {
  background-color: transparent;
  border: 0;
}

.play-pause {
  max-width: 3vh;
  height: 3vh;
}

.play-pause-button:focus {
  outline: none;
}

.controls-direction button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  cursor: pointer;
  background: transparent;
  font-family: "Xanh Mono", monospace;
  font-size: 2.5em;
  opacity: 0.6;
}

.controls-direction button:hover {
  text-shadow: 3px 2px 1px rgb(68, 68, 68);
}

.controls-direction button:focus {
  outline: thin dotted rgb(68, 68, 68);
}

/* --(double hyphen) modifier of actual carousel button */
.carousel-button--prev {
  left: 2em;
  z-index: 999;
}

.carousel-button--next {
  right: 2em;
  z-index: 999;
}

.hidden {
  display: none;
}

.thumbnail-wrapper {
  width: 65%;
  height: auto;
  margin: 0 auto;
}

.thumbnail-track-list {
  /* remove default list styles */
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* rearrange spaces between li tags*/
  display: flex;
  padding-top: 1.5px;
}

.thumbnail-slide {
  height: 10vh;
}

.thumbnail-slide img {
  max-width: 97%;
  height: 10vh;
  object-fit: cover;
  cursor: pointer;
}

.thumbnail-slide #thumbnail-image-last {
  max-width: 100%;
}

#contact {
  background-color: #fbae04;
  min-height: 100vh;
  min-width: 100vw;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-contact {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 7%;
}

.wrapper-contact h3 {
  font-size: 1.5em;
  color: rgb(68, 68, 68);
}

hr {
  width: 3px;
  height: 50px;
  margin: 0 20px;
  background: rgb(68, 68, 68);
  border: none;
}

.media-links {
  list-style-type: none;
  padding-left: 0;
}

.media-links li {
  display: inline-block;
  margin-right: 1.25em;
}

.media-links li a {
  transition: color 0.5s;
}

.codewars-logo:hover {
  filter: invert(13%) sepia(100%) saturate(3352%) hue-rotate(349deg)
    brightness(85%) contrast(88%);
}

.freecodecamp-logo:hover {
  filter: invert(15%) sepia(41%) saturate(6702%) hue-rotate(105deg)
    brightness(103%) contrast(111%);
}

.github-logo:hover {
  filter: invert(36%) sepia(8%) saturate(2856%) hue-rotate(222deg)
    brightness(99%) contrast(93%);
}

.personal-image {
  width: 300px;
  margin: 0 auto;
}

.personal-image img {
  max-width: 100%;
  height: auto;
}

.sayHi-message {
  margin: 0 auto;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  padding: 15% 0;
}

span {
  color: #58b7d6;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  background: #f4f6ef;
  background: rgba(246, 246, 239, 0.5);
  padding: 2px;
}

/* Center the form on the page */
.contact-form {
  margin: 0 auto;
  padding: 1em;
  background: rgb(0, 0, 0, 0.05);
  border-radius: 2%;
}

.contact-form ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.contact-form li {
  margin-top: 1em;
}

label {
  display: flex;
  padding: 5px 0;
}

input,
textarea {
  /* By default, textareas have a monospace font */
  font: 1em "Cormorant Garamond", serif;
  box-sizing: border-box;
  height: 2em;
  min-width: 100%;
  border-color: #f4f6ef;
  border-radius: 3px;
  border-style: solid;
  border-width: 0.1em;
  outline: none;
}

textarea {
  vertical-align: top;
  height: 8em;
}

.form-button {
  cursor: pointer;
  text-align: center;
}

#submit {
  font-size: 0.9em;
  font-weight: 700;
  height: 2.4em;
  background-color: #58b7d6;
  border-radius: 0.25em;
  border-style: dotted;
  border-width: 0.1em;
}

.footer {
  background-color: #fa2806;
  text-align: center;
  font-size: 12px;
  height: auto;
  max-width: 100%;
  padding: 0.2em;
  letter-spacing: 0.25em;
  word-spacing: 0.7em;
}

/* If the browser window is 600px or smaller */
@media screen and (max-width: 600px) {
  .brand-logo-figure {
    width: 50px;
    height: 30px;
    margin-left: 1.2em;
    margin-top: -0.2em;
  }

  #nav-bar {
    height: 70px;
  }

  .home-container {
    padding-top: 35%;
  }

  #face-happy,
  #face-sad {
    max-width: 200px;
  }

  .wrapper-face {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
  }

  .changing-message-letter {
    height: 260px;
    position: absolute;
    left: 45%;
  }

  .face {
    width: 200px;
  }

  .bubble {
    height: 20px;
    width: 160px;
    margin-top: 10%;
  }

  #talkbubble {
    font-size: 0.9em;
    font-family: "Segoe UI";
  }

  .bubble:after {
    content: "";
    position: absolute;
    border-right: 1.7em solid #58b7d6;
    border-top: 3em solid transparent;
    bottom: 100%;
    left: 10%;
  }

  .intro h1 {
    font-size: 0.9em;
    text-align: left;
  }

  .intro p {
    font-size: 0.5em;
    padding-right: 10px;
  }

  .menu ul {
    font-size: 0.7em;
    padding-left: 0.01px;
  }

  .menu ul li {
    padding: 0 0.7em;
  }

  figcaption {
    font-size: 0.4em;
    padding: 3em 2em;
  }

  .controls-direction button {
    font-size: 1.5em;
  }

  .carousel-button--prev {
    left: 0.025em;
  }

  .carousel-button--next {
    right: 0.025em;
  }

  .wrapper-contact {
    flex-wrap: wrap;
    flex-direction: column;
  }

  hr {
    width: 40%;
    height: 3px;
    align-items: center;
  }

  .media-links {
    padding-left: 1.5em;
  }

  .contact-form {
    width: 85%;
  }

  .personal-image {
    width: 200px;
  }

  .footer {
    font-size: 10px;
    letter-spacing: 0.1em;
  }

  .thumbnail-slide img {
    height: 6vh;
  }

  .thumbnail-slide img {
    max-width: 95%;
  }
}

/* If the browser window is 768px or higher */
@media screen and (min-width: 768px) {
  .changing-message {
    position: absolute;
    margin: -30px 15px;
  }

  .bubble {
    margin-top: 25%;
  }

  .bubble:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    border-right: 3em solid #58b7d6;
    border-bottom: 1.7em solid transparent;
  }

  .additional {
    font-size: 0.7em;
    margin-top: -25px;
  }

  figcaption {
    font-size: 0.82em;
  }

  input,
  textarea {
    width: 40vw;
    min-width: 100%;
  }

  .wrapper-face {
    left: 20%;
}


/* If the browser window is 992px and up */
@media screen and (min-width: 992px) {
  input,
  textarea {
    width: 28vw;
  }

.wrapper-face {
    left: 30%;
}
}

/* If the browser window is 1200px or smaller */
@media only screen and (min-width: 1200px) {
  .additional {
    font-size: 1em;
    margin-top: -20px;
  }
}
