body {
  margin: 0px;
  padding: 0px;
  font-family: "Cormorant Garamond", serif;
}

#nav-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  background-color: #fa2806;
  box-shadow: 0px 1px 10px rgb(68, 68, 68);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav ul {
  position: relative;
  display: flex;
  list-style: none;
  padding: initial;
  scroll-behavior: smooth;
  margin-right: 30px;
}

nav ul li {
  font-size: 18px;
  font-weight: 500;

  padding: 15px;
  line-height: 2rem;
  text-align: inherit;
  scroll-behavior: smooth;
}

nav ul li a {
  text-decoration: none;
  color: #3c474d;
  padding: 5px;
}

nav ul li :hover {
  background: #f4f6ef;
}

.container {
  padding: 100px 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  line-height: 12px;
}

h1 {
  visibility: hidden;
}

.hello {
  visibility: initial;
  display: flex;
  justify-content: center;
}

#hello-message {
  font-size: 18px;
}

#home {
  background-color: #f4f6ef;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home:focus {
  background-color: black;
}

.wrapper {
  font-family: "Comfortaa", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hello-message {
  padding: 15px;
  margin-right: 10px;
}

.wrapper :hover {
  cursor: not-allowed;
  user-select: none;
}

#face-happy,
#face-sad {
  width: 250px;
}

#about {
  background-color: #58b7d6;
  height: 100vh;
  width: 100vw;
}

#contact {
  background-color: #fbae04;
  height: 100vh;
  width: 100vw;
}

.footer {
  background-color: #fa2806;
  text-align: center;
  font-size: 14px;
  padding: 5px;
}

.bubble {
  width: 270px;
  height: 50px;
  background-color: purple;
  position: relative;
  border-radius: 15px;
  display: flex;
  padding: 30px;
  justify-content: center;
  margin: 10px;
}
.bubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 56px;
  border-right: 46px solid purple;
  border-bottom: 23px solid transparent;
}

.bubble-face {
  display: flex;
  align-items: flex-end;
}

#talkbubble-message {
  padding-top: 7px;
  font-size: 14px;
  text-decoration: underline;
}
